/* Website template by freewebsitetemplates.com */
/*------------------------- Fonts ---------------------------*/
@font-face {
	font-family: 'Conv_OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Regular.woff') format('woff'),  url('../fonts/OpenSans-Regular.ttf') format('truetype'),  url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_JockeyOne-Regular';
	src: url('../fonts/JockeyOne-Regular.eot');
	src: url('../fonts/JockeyOne-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/JockeyOne-Regular.woff') format('woff'),  url('../fonts/JockeyOne-Regular.ttf') format('truetype'),  url('../fonts/JockeyOne-Regular.svg#JockeyOne-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	background:#0a0a0a; /* assignment: dark background */
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
.page {
	background:none;
	width:960px;
	margin:0 auto;
	box-shadow:0 0 1px rgba(0,0,0,0.1);
}
/*------------------------- Header -------------------------*/
.header {
	background:none;
	padding:0;
	position:relative;
}
.header a#logo {
	display:none;
}
.header a#logo img {
}
.header ul {
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	background:#1a1a1a;
	display:flex;
}
.header ul li {
	flex:1;
	background:none;
	border-right:1px solid #333;
	text-align:center;
}
.header ul li:last-child {
	border-right:none;
}
.header ul li.selected {
	background:none;
	border-bottom:3px solid #FF5C00;
}
.header ul li a {
	float:none;
	font-family: 'Conv_JockeyOne-Regular', Arial, sans-serif;
	font-size:16px;
	line-height:48px;
	text-decoration:none;
	color:#fff;
	display:inline-block;
	margin:0;
	padding:0 16px;
	transition:color 0.3s ease;
}
.header ul li a:hover {
	color:#FF5C00;
}
.header ul li span {
	display:none;
}
.header div.featured h2 {
	margin:0;
	font-family: 'Conv_JockeyOne-Regular';
	font-size:32px;
	line-height:24px;
	color:#ff6b35; /* assignment: h2 color */
	font-weight:normal;
	margin:48px 0 0 15px;
	display:inline-block;
}
	color:#f9fafd;
	font-weight:normal;
	margin:48px 0 0 15px;
	display:inline-block;
}
.header div.featured p {
	width:378px;
	color:#f9fafd;
	font-size:12px;
	line-height:24px;
	background:url(../images/bg-transparent.png);
	margin: 26px 0 0;
	padding: 15px 20px 0 15px;
	width: 341px;
}
.header div.featured p a {
	background:none;
	width:auto;
	height:auto;
	margin:0;
	display:inline;
	color:#B11212;
	text-decoration:none;
}
.header div.featured p a:hover {
	text-decoration:underline;
}
.header div.featured a {
	background:url(../images/button-view-more.jpg) no-repeat;
	display:block;
	height:36px;
	width:186px;
	margin:21px 0 0 15px;
	text-indent:-99999px;
}
.header div.featured a:hover {
	background:url(../images/button-view-more-hover.jpg) no-repeat;
}
.header-about {
	position:static;
}
.header-about div.featured {
	background:url(../images/featured.png) no-repeat;
	height:360px;
	margin:0 0 60px;
}
.header-about div.featured h2 {
	display:block;
	font-family: 'Conv_JockeyOne-Regular';
	color:#d9d9d9;
	text-shadow:0 3px 4px #000000;
	font-size:52px;
	line-height:36px;
	font-style:italic;
	margin:128px 0 0 50px;
	display:inline-block;
}
.header-about div.featured span {
	display:block;
	font-size:20px;
	line-height:36px;
	color:#a9a7a7;
	text-shadow:0 3px 4px #000000;
	font-style:italic;
	margin:9px 0 0 300px;
	padding: 0 40px 0 0;
}
.header-news div.featured {
	background:url(../images/racer.jpg) no-repeat right 18px;
	padding:18px 0 0;
	height:402px;
}
.header-news .featured h4, .header-contact .featured h4 {
	margin:0;
	background:url(../images/bg-title.png) no-repeat;
	width:378px;
	height:36px;
	font-size:24px;
	line-height:29px;
	color:#f95a5a;
	font-family: 'Conv_JockeyOne-Regular';
	font-weight:normal;
	padding: 0 0 0 15px;
}
.header-news .featured h3, .header-contact .featured h3 {
	margin:18px 0 0 15px;
	font-family: 'Conv_JockeyOne-Regular';
	font-size:32px;
	line-height:36px;
	color:#fff;
	font-weight:normal;
}
.header-news .featured p, .header-contact .featured p {
	background:none!important;
	margin: 15px 0 0 !important;
	padding: 0 0 0 15px !important;
}
.header-contact div.featured {
	background: url(../images/founders.png) no-repeat 282px 39px;
	height: 321px;
	padding: 48px 0 0;
	margin:0 0 51px;
}
/*------------------------- Body ---------------------------*/
.body {
	border-top:none;
	background:#f5f5f5;
	margin:0;
	padding: 30px 18px;
	overflow:hidden;
}
.body div.sidebar {
	width:200px;
	float:left;
	margin: 0 30px 0 0;
}
.body div.sidebar div:first-child {
	overflow: hidden;
	padding:0 0 18px;
	margin:0;
}
.body div.sidebar div {
	background: none #1b1b1b;
	margin:36px 0 0;
}
.body div.sidebar div h3 {
	height:24px;
	background:none #840808;
	padding:0 0 0 12px;
	color:#f9fafd;
	font-size:14px;
	line-height:24px;
	text-transform:uppercase;
	display:block;
	margin:0;
	font-family: 'Conv_JockeyOne-Regular';
	font-weight:normal;
}
.body div.sidebar div a#twitter {
	background:url(../images/icons.png) no-repeat;
	width:28px;
	height:24px;
	text-indent:-99999px;
	display:block;
	float:left;
	margin:18px 0 0 18px;
}
.body div.sidebar div a#twitter:hover {
	background:url(../images/icons.png) no-repeat 0 -73px;
}

.body div.sidebar div div:first-child {
	background:url(../images/man-opacity.png) no-repeat;
	padding:0;
}
.body div.sidebar div div ul {
	list-style:none;
	padding:0 12px 6px;
	margin:18px 0 0;
}
.body div.sidebar div div ul li {
}
.body div.sidebar div div ul li h4 {
	margin:0;
	display:block;
}
.body div.sidebar div div ul li h4 a {
	color:#f9fafd;
	font-size:16px;
	line-height:24px;
	display:block;
	margin:0;
	font-family: 'Conv_JockeyOne-Regular';
	font-weight:normal;
	text-decoration:none;
}
.body div.sidebar div div ul li h4 a:hover {
	color:#fbf3bd;
}
.body div.sidebar div div ul li p {
	color:#939494;
	font-size:11px;
	line-height:24px;
	margin:2px 0 22px;
	font-family: 'Conv_OpenSans-Regular';
}
.body div.sidebar div ul li p a {
	text-decoration:none;
	color:#A50606;
}
.body div.sidebar div ul li p a:hover {
	text-decoration:underline;
}
.body div.content {
	float:left;
	width:680px;
}
.body div.content h1 {
	color:#ff6b35; /* assignment: h1 color */
	font-size:46px;
	line-height:24px;
	font-family: 'Conv_JockeyOne-Regular';
	margin:55px 0 40px;
	font-weight:normal;
}
.body div.content a img {
    max-width:100%;
    height:auto;
    object-fit:cover;
    display:block;
}
.body div.content p {
	color:#2a2a2a;
	font-size:12px;
	line-height:24px;
	text-align:justify;
	margin:31px 0 0;
	padding: 0 40px 0 0;
}
.body div.content h4 {
	height:84px;
	background:none #b9b9b9;
	display:block;
	margin:0 18px 42px 0;
	font-family: 'Conv_JockeyOne-Regular';
	font-size:27px;
	line-height:93px;
	color:#707070;
	font-weight:normal;
	text-transform:uppercase;
	padding:0 0 0 15px;
}
.body div.content h4 span {
	color:#a50606;
	font-size:36px;
}
.body div.content h3 {
	color:#a50606;
	font-size:16px;
	line-height:24px;
	font-family: 'Conv_OpenSans-Regular';
	margin:0;
	font-style:italic;
	text-transform:uppercase;
	font-weight:bold;
}
.body div.content p {
	color:#343434;
	font-size:12px;
	line-height:24px;
	margin:27px 0 22px;
	text-align:left;
}
.body div.content p a {
	color:#343434;
	text-decoration:underline;
}
.body div.content p a:hover {
	color:#860606;
}
.body div.content ul {
	list-style:none;
	padding:0 18px 0 0;
	margin:0;
}
.body div.content ul li:first-child {
	background:none;
	margin:0;
	padding:0;
}
.body div.content ul li {
	overflow:hidden;
	background:url(../images/border.png) repeat-x left top;
	margin:23px 0 0;
	padding:25px 0 0;
}
.body div.content ul li span {
	display:block;
	height:24px;
	background:none #414141;
	font-size:10px;
	line-height:24px;
	color:#f9fafd;
	padding:0 0 0 15px;
	font-family: 'Conv_OpenSans-Regular';
	margin:0 0 24px;
}
.body div.content ul li a {
	display:block;
	float:left;
	margin:0 23px 0 0;
}
.body div.content ul li a img {
	border:6px solid #fff;
}
.body div.content ul li a img:hover {
	filter:alpha(opacity=80);/* Needed for IE7 */
	opacity:0.8;
}
.body div.content ul li div {
	float:left;
	width:360px;
}
.body div.content ul li div h3 {
	margin:0 0 18px;
	display:inline-block;
	color:#a50606;
	font-size:26px;
	line-height:27px;
	font-family: 'Conv_JockeyOne-Regular';
	font-style:normal;
	text-transform:none;
	font-weight:normal;
	text-decoration:none;
}
.body div.content ul li div h3 a:hover {
	text-decoration:underline;
}
.body div.content ul li div p {
	font-family: 'Conv_OpenSans-Regular';
	font-size:12px;
	line-height:24px;
	font-style:italic;
	color:#3e3e3d;
	margin:0 0 23px;
	padding:0;
	text-align: justify;
}
.body div.content ul li div p a {
	margin:0;
	float:none;
	display:inline;
}
.body div.content ul li div a {
	font-size:12px;
	line-height:24px;
	color:#a50606;
	font-family: 'Conv_OpenSans-Regular';
	letter-spacing:-0.025em;
}
.body div.content ul li div a:hover {
	color:#414141;
}
.body div.contact p {
	margin:0 0 20px;
	color:#736f6f;
}
.body div form {
	padding:0 40px 0 0;
	overflow:hidden;
}
.body div form input {
	padding:10px 5px;
	width:398px;
	background:none #fff;
	border:0;
	margin:0 30px 12px 0;
	color:#060606;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}
.body div form input#email {
	margin-bottom:35px;
}
.body div form label {
	color:#848080;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	text-shadow:0 1px 0 #fefdfd;
	margin:0;
	display:block;
	position:relative;
}
.body div form label span {
	color:#848080;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	text-shadow:0 1px 0 #fefdfd;
	margin:0;
	position:absolute;
	top:150px;
}
.body div form textarea {
	color:#060606;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:24px;
	border:0;
	resize:none;
	width:398px;
	padding:5px;
	height:326px;
	margin:0 30px 29px 0;
	overflow:auto;
}
.body div form input#subscribe {
	padding:0;
	width:auto;
	height:auto;
	clear:both;
	margin:4px 10px 0 0;
	vertical-align:top;
	*margin:-2px 10px 0 0;/* Needed for IE7 */
}
.body div form input#agree {
	padding:0;
	width:auto;
	height:auto;
	clear:both;
	margin:4px 10px 0 0;
	*margin:-2px 10px 0 0;/* Needed for IE7 */
}
.body div form label.subscribe {
	width:185px;
	float:left;
	font-size:12px;
	line-height:22px;
	color:#848080;
	font-style:normal;
}
.body div form label.agree {
	width:225px;
	float:left;
	font-size:12px;
	line-height:22px;
	color:#848080;
	font-style:normal;
	*width:235px;/* Needed for IE7 */
}
.body div form input#submit {
	background:url(../images/button-send.png) no-repeat;
	clear: both;
	display: block;
	float: left;
	height: 36px;
	margin: 29px 0 0 222px;
	padding: 0;
	width: 186px;
	cursor:pointer;
}
.body div form input#submit:hover {
	background:url(../images/button-send-hover.png) no-repeat;
}
/*------------------------- Footer -------------------------*/
.footer {
	background:none;
	border-top:1px solid #ddd;
	width:auto;
	height:auto;
	margin:0;
	padding:20px 18px;
}
.footer ul {
	float:left;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding: 14px 0 0 15px;
}
.footer ul li:first-child {
	background:none;
	padding-left:0;
}
.footer ul li {
	background:url(../images/border-footer-nav.png) no-repeat left 8px;
	float:left;
	padding:0 21px;
}
.footer ul li a {
	color:#666881;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	text-decoration:none;
}
.footer p {
	color:#666;
	float:right;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:24px;
	margin:0;
	text-decoration:none;
	padding:0;
}

/* --- McLaren fan-site overrides --- */
.header div.featured img.hero {
	max-width:100%;
	height:auto;
	display:block;
	margin:0 0 16px 0;
}
.body .sidebar section a {
	display:inline-block;
	margin-right:10px;
	color:#fff;
	text-decoration:none;
	background:#FF5C00;
	padding:6px 10px;
	border-radius:4px;
	font-weight:bold;
}
.body .sidebar section a:hover {
	background:#d94a00;
}

.social-icons {
	margin-top:8px;
}
.social-icons .icon-btn {
	display:inline-block;
	width:40px;
	height:40px;
	background:#FF5C00;
	border-radius:6px;
	text-align:center;
	line-height:40px;
	margin-right:8px;
}
.social-icons .icon-btn img {
	vertical-align:middle;
	width:18px;
	height:18px;
	filter: brightness(0) invert(1);
}

/* Hero overlay */
.header div.featured { position: relative; height:420px; overflow:hidden; }
.header div.featured .hero { 
    display:block; 
    width:100%; 
    height:100%; 
    object-fit:cover;
    object-position:center;
}
.header div.featured::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:linear-gradient(135deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 100%);
    z-index:1;
}
.header div.featured h2 {
	position:absolute;
	left:30px;
	top:40px;
	color:#ff6b35; /* assignment: h2 color */
	font-size:40px;
	font-weight:bold;
	text-shadow:0 3px 8px rgba(0,0,0,0.8);
	margin:0;
	z-index:2;
}
.header div.featured h4 {
    position:absolute;
    left:30px;
    top:20px;
    color:#FF5C00;
    font-size:14px;
    text-transform:uppercase;
    margin:0;
    z-index:2;
}
.header div.featured h3 {
    position:absolute;
    left:30px;
    top:50px;
    color:#fff;
    font-size:32px;
    text-shadow:0 3px 8px rgba(0,0,0,0.8);
    margin:0;
    z-index:2;
}
.header div.featured p { 
	position:absolute; 
	left:30px; 
	top:120px; 
	max-width:420px; 
	color:#fff;
	text-shadow:0 2px 4px rgba(0,0,0,0.7);
	line-height:1.6;
	z-index:2;
	font-size:14px;
	margin:0;
}
.header div.featured a { 
	position:absolute; 
	left:30px; 
	bottom:30px; 
	display:inline-block; 
	background:#FF5C00; 
	color:#fff !important; 
	padding:12px 24px; 
	border-radius:6px; 
	text-decoration:none;
	font-weight:700;
	z-index:3;
	transition:background 0.3s ease;
	/* make sure the link text is visible (override old sprite-based rule) */
	text-indent:0;
	text-shadow:0 1px 0 rgba(0,0,0,0.35);
	font-size:16px;
}
.header div.featured a:hover { background:#d94a00; }/* ensure content area flows when hero present */
.header div.featured h2, .header div.featured p, .header div.featured a {
	display:block;
}

/* make layout slightly responsive */
@media (max-width: 980px) {
	.page { width: 95%; }
	.body { padding: 18px 10px 83px 10px; }
	.body div.content { width: 100%; float:none; }
	.body div.sidebar { width:100%; float:none; margin:0 0 20px 0; }
	.header ul li { width: auto; float:none; display:inline-block; }
}

/* Lightbox styles */
#lw-overlay { position:fixed; inset:0; background:rgba(0,0,0,0.85); display:none; align-items:center; justify-content:center; z-index:9999; }
#lw-box { position:relative; max-width:95%; max-height:90%; }
#lw-box img { max-width:100%; max-height:90vh; display:block; border-radius:4px; }
#lw-close { position:absolute; top:-12px; right:-12px; background:#fff; border-radius:50%; width:32px; height:32px; border:0; font-size:20px; line-height:32px; cursor:pointer; }

/* Gallery thumbs */
.gallery { margin:24px 0 0; padding:0; list-style:none; overflow:hidden; }
.gallery li { float:left; width:30%; margin:0 3.333% 20px 0; overflow:hidden; border-radius:6px; }
.gallery li:nth-child(3n) { margin-right:0; }
.gallery img { 
	width:100%; 
	height:260px;
	object-fit:cover;
	object-position:center;
	border:6px solid #fff; 
	box-shadow:0 2px 6px rgba(0,0,0,0.4);
	cursor:pointer;
	transition:transform 0.3s ease;
}
.gallery img:hover { transform:scale(1.05); }

@media (max-width:640px) {
  .gallery li { width:48%; margin:0 4% 12px 0; }
  .gallery li:nth-child(2n) { margin-right:0; }
  .gallery img { height:200px; }
}